<html ng-app>
    <head>
        <meta charset="utf-8">
        <title>First name and lastname exanple</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>    
    </head>
    <h2>Example 8</h2>
    <h5> first name and last name example</h5>
    <label>Firstname:</label>
    <input type="text" ng-model="firstname" placeholder="Enter first name">
    <label>Lastname:</label>
    <input type="text" ng-model="lastname" placeholder="Enter lastname"> <br> <br>
    
    your full name is : {{firstname}} {{lastname}}

</html>